/* VARIABLE CSS */
:root {
  --primary: #7749f8;
  --green: #28a745;
  --red: #dc3545;
  --dark: #343a40;
  --gray: #dee2e6;
  --light-gray: #abb5be;
}

/* VARIABLES PERSOS PAR CLASSE */
.primary-color {
  color: var(--primary) !important;
}
.primary-bg {
  background-color: var(--primary) !important;
}
.success-color {
  color: var(--green) !important;
}
.success-bg {
  background-color: var(--green) !important;
}
.warning-color {
  color: var(--red) !important;
}
.warning-bg {
  background-color: var(--red) !important;
}
.dark-color {
  color: var(--dark) !important;
}
.dark-bg {
  background-color: var(--dark) !important;
}
.gray-color {
  color: var(--gray) !important;
}
.gray-bg {
  background-color: var(--gray) !important;
}
.lightgray-color {
  color: var(--light-gray) !important;
}
.lightgray-bg {
  background-color: var(--light-gray) !important;
}

/* CLASSES PERSOS */

.container {
  width: 800px;
}

.spc-btw {
  justify-content: space-between;
}

.nav {
  background-color: var(--dark);
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: var(--gray) !important;
}

#d-flex {
  display: flex !important;
}
