/* VARIABLE CSS */
:root {
  --primary: #7749f8;
  --green: #28a745;
  --red: #dc3545;
  --dark: #343a40;
  --gray: #dee2e6;
  --light-gray: #abb5be;
}

/* VARIABLES PERSOS PAR CLASSE */
.primary-color {
  color: var(--primary);
}
.primary-bg {
  background-color: var(--primary);
}
.success-color {
  color: var(--green);
}
.success-bg {
  background-color: var(--green);
}
.warning-color {
  color: var(--red);
}
.warning-bg {
  background-color: var(--red);
}
.dark-color {
  color: var(--dark);
}
.dark-bg {
  background-color: var(--dark);
}
.gray-color {
  color: var(--gray);
}
.gray-bg {
  background-color: var(--gray);
}
.lightgray-color {
  color: var(--light-gray);
}
.lightgray-bg {
  background-color: var(--light-gray);
}

/* CLASSES PERSOS */

.container {
  width: 800px;
  background-color: lightgray;
}

.spc-btw {
  justify-content: space-between;
}

.nav {
  background-color: var(--dark);
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: var(--gray) !important;
}

#d-flex {
  display: flex !important;
}
