{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}


{% block body %}
        {% if app.user %}
        <div class="h2 text-center mb-5">Bonjour {{app.user.name}}</div>
        {% endif %}
        <div class="h4 text-center mb-5">Liste des annonces</div>
        {% for post in posts  %}
            {% include 'Components/postCard.html.twig' with {
                fromProfile: false,
                title: post.title,
                images: post.images,
                price: post.price,
                category: post.category,
                condition: post.condition,
                createdAt: post.createdAt,
                name: post.author.name,
                isPublished: post.isPublished
            } %}
        {% endfor %}
{% endblock %}
